
/*APPLIES TO WHOLE DOCUMENT*/

body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
}

a {
    text-decoration: none;
     color: #70757a;
}

a:hover {
    text-decoration: underline;
}

div > a {
    color:#4285f4;
}

div > a:hover {
    text-decoration:underline;
}

*:focus {
    outline:none !important
}

/*BODY STYLING*/

.middle-container {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 190px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.container > div {
   padding: 0.5em;
   margin: 0.5em;
}

.image-text {
    position: absolute;
    color: #4285f4;
    left: 850px;
    bottom: 380px;
}

/*STYLING FOR ADVANCED SEARCH PAGE*/

.top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.top-container > div {
    padding: 30px;
}

h5 {
    margin-block-end: 1em;
    font-size: 16px;
}

.lower-section {
    margin-bottom: 25px;
}

.topform-section {
    display: flex;
    flex-wrap: wrap;
}

.form-container, .major-heading, .lower-section {
    margin-left: 30px;
    margin-right: 30px;
}

.major-heading {
    color: #d93025;
}

.major-div {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
}

.inline-divs {
    padding: 7px;

}

#input-one, #input-two, #input-three, #input-four, #input-five, #input-eight {
    padding: opx;
    width: 400px;
    border-radius: 0;
    margin-bottom: 0;
    border: 1px solid rgb(204, 207, 210);
    margin-top: 0;
}

#input-one {
    background-color: white;
    border: 1px solid white;
}

#input-one:hover {
    box-shadow: none;
}

#input-six, #input-seven {
    padding: opx;
    width: 125px;
    border-radius: 0;
    margin-bottom: 0;
    border: 1px solid rgb(204, 207, 210);
    margin-top: 0;
}

select {
    width: 400px;
    border: 1px solid rgb(204, 207, 210);
    padding: 12px 7px;
}

#btn {

    width: 510px;
    overflow: hidden;
}

#blue-btn {
    color: white;
    background-color: #4285f4;
    align-items: flex-end;
    float: right;
}

/*FORM STYLING*/

input[type=text]{
    padding: 10px;
    width: 500px;
    border-radius: 17px;
    margin-bottom: 24px;
    border: 1px solid rgb(204, 207, 210);
    margin-top: 20px;
}

input[type=submit]{
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #202124;
    background-color: #f8f9fa;
    cursor: pointer;
}

input[type=text]:hover {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=text]:focus {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 1px solid rgb(204, 207, 210);
}

input[type=submit]:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
}

/*FOOTER STYLING*/

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: auto;
    background-color: #dadce0;
    border-top: 1px solid rgb(204, 207, 210);
}

ul {
    display: flex;
    padding:0px 20px;
}
ul > li {
    list-style-type: none;
    padding: .3em;
}